body {
    font-family: Arial ,sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow-x: hidden;
}

header {
    background-color: #ff6347;
    color: white;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 5px 10px;
    font-size: 20px;
}

nav ul li a {
    display: inline-block;
    padding: 10px;
    color: white;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: rgb(255, 255, 255); 
    color: #ff6347; 
    border-radius: 30px;
}

.dropdown-menu{
    z-index: 1000; 
    position: absolute;
    display: none;
    background-color: #ff6347; 
    padding: 10px;
    border-radius: 5px; 
    list-style: none;
}

.dropdown-menu a{
    display: block;
}

.dropdown-menu a:hover {
    background-color: rgb(255, 255, 255); 
    color: #ff6347; 
    border-radius: 30px;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

h2 {
    color: #ff6347;
    font-size: 40px;
    font-weight: 700;
}

h3 {
    color: maroon;
    font-size: 24px;
    font-weight: 700;
    margin-top: 60px;
}

section p {
    font-size: 20px;
}
main {
    padding: 20px;
}

.alinhar-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap; 
    justify-content: center; 
}

a {
    text-decoration: none;
}

figure {
    width: 500px;
    height: 450px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

figure:hover {
    transform: scale(1.05); 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

figure img {
    height: 90%;
    max-width: 100%;
    border-radius: 5px;
}

figure:hover figcaption {
    color: #ff6347;
}

figcaption {
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
    color: #555;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0.01%;
}

address {
    font-style: normal;
    color: #929292;
    margin-top: 20px;
    line-height: 1.5;
}

address a {
    color: white;
}

.menu-icon {
    display: none; 
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 20px;
    color: white;
}

#menu-p {
    display: none;
}

@media (max-width: 767px) {
    header, header img{
        height: 70px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 20px;
        margin-top: 35px;
    }
    .menu-icon {
        display: block;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        position: absolute; 
        margin-top: auto;
        right: -100%; 
        height: auto;
        width: 33%; 
        background-color: #ff6347;
        transition: right 0.3s ease; 
        padding: 10px 0;
        z-index: 1000;
        border-radius: 5px;
    }
    nav ul li {
        display: block;
        text-align: center;
        margin: 10px 0;
    }
    nav ul li a {
        display: block;
        padding: 15px;
        font-size: 18px;
    }
    #menu-p:checked + .menu-icon + nav ul {
        right: 0;
    }
    .dropdown-menu {
        min-width: 120px;
        width: 91%;
        height: auto;
        z-index: 1000; 
        position: absolute;
        display: none;
        background-color: #ff6347; 
        padding: 10px;
        border-radius: 5px; 
        list-style: none;
        left: -100%; 
        top: 0;
    }
    .dropdown:hover .dropdown-menu {
        display: block;
    }
    .alinhar-grid {
        display: block;
    }
    figure {
        width: 300px;
        height: 250px;
    }  
    footer {
        padding: 10px;
        font-size: 15px;
    }
}
@media (min-width: 992px) and (max-width: 1900px){
    .alinhar-grid {
        gap: 2px;
    }
    h2 {
        font-size: 35px;
    }
    h3 {
        font-size: 22px;
        margin-top: 40px;
    }
    figure{
        width: 450px;
        height: 400px;
    }
} 
@media(min-width: 768px) and (max-width: 991px){
    .alinhar-grid {
        gap: 2px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 21px;
        margin-top: 40px;
    }
    figure{
        width: 400px;
        height: 350px;
    }
}
